@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');
html {
  position: relative;
  min-height: 100%;
}
body {
  background-color: #50168e;
  background-image: url('./GArcade-bg-2.jpg');
  background-size: cover;
  margin-bottom: 60px; /* Margin bottom by footer height */
  font-family: 'Roboto', sans-serif;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background: #F9F871;
  font-family: 'Russo One', sans-serif;
  color: #7700a6

}
.game {
  background-color: black;
  color: pink;
}
.pixel-text {
  font-family: 'Press Start 2P', cursive;
  color: #defe47;
}
.sub-title {
  font-family: 'Russo One', sans-serif;
  color: #e9a7fa;
}
.yellow-text {
  color: #defe47;
}
.page-title {
  font-size: 50px;
  color: #F9F871;
  font-family: 'Press Start 2P', cursive;

}

/* #cabinet-far {
  position: relative;
  bottom: -100px;
  width: 400px;
  height: auto;
} */

#landing {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column {
  float: left;
  width: 50%;
  text-align: center;
}

#error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.error1{
  background-image: url("https://media2.giphy.com/media/YyKPbc5OOTSQE/giphy.gif?cid=ecf05e473f794222f434dc066879fb32bcaa784f94fb064a&rid=giphy.gif");
  background-position: center;
  background-size: cover;
  height: 600px;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home{
  font-size: 30px;
  font-family: 'Press Start 2P', cursive;
  color: #defe47;
  background-color: rgb(0, 0, 0, 0.8);
  padding: 20px;
}
.home:hover{
  color: #e9a7fa;
  text-decoration: none;

}

.form-group{
  margin: 30px;
  border-radius: 20px;
  font-family: 'Press Start 2P', cursive;

}

.input{
  background: #defe47;
  color:#7700a6;
  border-radius: 20px;
  font-family: 'Press Start 2P', cursive;

}
label{
  color:#e9a7fa
}
.author{
  margin-top: 40px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
form{
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 8%
}
.button{
  background: #defe47;
  color:#7700a6;
  border-radius: 20px;
  font-family: 'Press Start 2P', cursive;
  /* border: 2px solid blue; */
}
.button:hover{
  cursor: pointer;
  background: #7700a6;
  color: #defe47;
}

.cabinet{
  text-align: center;
}
#game-title{
  padding: 50px 10px;
  text-shadow: 0px 1px 10px #defe47;
}
.link:hover { 
  color: #defe47;
  /* text-decoration: none; */
}

.formLabel{
  color: #e9a7fa;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  margin-left: 7%;

}
.head{
  width: 60vw;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: 15%;
  font-size: 1rem;
  font-family: 'Press Start 2P', cursive;
  color:#defe47;
  /* text-shadow:2px 2px  blue; */

}
.about{
  font-family: 'Russo One', sans-serif;
  color: #e9a7fa;
  text-align: center;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.devs {
  color:#F9F871;
}

.error{
  background:  red;
  height: 30px;
  width: 100vw;
  color: black;
  font-family: 'Russo One', sans-serif;
  }

.nav-link {
  font-family: 'Russo One', sans-serif;
  color: #F9F871;
}


.arcade-cabinet {
  border: 10px;
  background-color: #35004a;
  border-radius: 10px;
  text-align: center;
}
.arcade-screen {
  background-color: rgb(0, 0, 0, 0.5);
  border-radius: 20px;
  margin: 20px 20px 20px;
}
.arcade-screen-display{
  height: calc(100vh - 95px) ;
  width: 60% ;
  margin: 30px 0;
  border: none;
  border-radius: 20px;
  /* margin: 0; */
}
.arcade-marquee {
  background-color: #65008e;
  border: 10px solid #490066;
  box-shadow: 0px 2px 20px #defe47;
  border-radius: 10px;
}


.about-blurb {
  background-color: rgb(0, 0, 0, 0.8);
  line-height: 35px;
  margin: 10px;
  padding: 20px 30px 5px;
  text-align: justify;
  text-justify: auto;
  border-radius: 20px;
  font-size: 25px;
  font-family: 'Ubuntu Mono', monospace;

}

.pacman-gif {
  width: 30px;
  height: auto;
  margin: 0 10px;
}